.errorMessage {
    display: flex;
    gap: 0.5rem;
    background: #fde7e9;
    border-radius: 2px;
    padding: 0 1rem;
    line-height: 2;
    box-shadow: var(--depth-4);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-semibold);
}

.errorIcon {
    color: #a80000;
}