button {
  border: 1px solid var(--neutral-secondary-alt);
  background: white;
  cursor: pointer;
  border-radius: 2px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-14);
  line-height: 2;
  padding: 0 1em;
}

button:focus-visible {
  outline-offset: -3px;
  outline-color: currentColor;
  outline-style: solid;
}

button:hover {
  background: var(--neutral-lighter);
  color: var(--neutral-dark);
}

button:active {
  background: var(--neutral-light);
  color: var(--neutral-dark);
}

button[data-primary] {
  background: var(--theme-primary);
  border-color: var(--theme-primary);
  color: white;
}

button[data-primary]:hover {
  background: var(--theme-dark);
  border-color: var(--theme-dark);
}

button[data-primary]:active {
  background: var(--theme-darker);
  border-color: var(--theme-darker);
}
