.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, 1rem);
}

.center {
  margin-inline: auto;
}

.box {
  box-shadow: var(--depth-8);
  border-radius: 2px;
  padding: 1rem;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cluster.cluster--reverse {
  flex-direction: row-reverse;
}